.breadcrumb {
  @include breakpoint(phone) {
    padding: 29px 0 35px 0;
  }
  .breadcrumb-list {
    display: flex;
    li {
      font-size: 13px;
      color: #b2b2b2;
      &:not(:first-child) {
        margin-left: 10px;
        &:before {
          content: "/ ";
          margin-right: 3px;
        }
      }
    }
  }
}
.pill {
  background-color: #ff0000;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 9px;
  text-transform: uppercase;
  border-radius: 40px;
  margin-bottom: 15px;
  display: inline-block;
  @include breakpoint(phone) {
    font-size: 12px;
    margin-bottom: 25px;
  }
}
